<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <main layout:fragment="content">
        <h1>Veuillez vous identifier</h1>
        <form method="POST" th:action="@{/login}">
            <input type="text" placeholder="Login..." name="username">
            <input type="password" placeholder="Mot de passe..." name="password">
            <button type="submit">Login</button>
        </form>
    </main>
</html>