<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head><meta charset="utf-8"/></head>
    <main layout:fragment="content">
        <h1 th:text="${student.name}">Nom de l'étudiant</h1>
        <h3 th:if="${#lists.isEmpty(student.registeredCourses)}">L'étudiant n'est inscrit a aucun cours</h3>
        <table th:unless="${#lists.isEmpty(student.registeredCourses)}">
            <tr><th>Cours</th></tr>
            <tr th:each="course : ${student.registeredCourses}">
                <td><a th:href="@{/course(courseId=${course.id})}" th:text="${course.id}"></a></td>
            </tr> 
        </table><br/>
        <h2>
            Inscrire l'étudiant à un cours
        </h2>

        <form th:action="@{/registerCourseToStudent/{sId}(sId=${student.matricule})}" th:object="${course}" method="post">
            <label for="input1">Identifiant du cours (ex: WEBG6) : </label>
            <input id="input1" type="text" th:field="*{id}" />
            <button type="submit">Ajouter</button>
        </form><br/>



    </main>
</html>