<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title>BMI</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#compute").click(
                    function() {
                        var poids = $("#poids").val();
                        var taille = $("#taille").val();
                        var genre = $("input[name=genre]:checked").val();
                        $.ajax({
                            url: "http://localhost:8080/api/bmi?" + "weight=" + poids +
                                "&height=" + taille +
                                "&gender=" + genre
                        }).then(function(data) {
                            var bmi = data.bmi;
                            var corpulence = data.corpulence;
                            $("#imc").text(bmi);
                            $("#corpulence").text(corpulence);
                        });
                    });
            });
        </script>
    </head>

    <body>
        <main layout:fragment="content">
            <h1>Calcul IMC</h1>
            <p>Entrez vos informations</p>
            <input type="radio" name="genre" value="man" checked> Homme
            <input type="radio" name="genre" value="woman"> Femme
            <br/> Votre taille (en cm) : <input id="taille" value="177" size="10" />
            <br/> Votre poids (en kg) : <input id="poids" value="69" size="10" />
            <br/> <button id="compute">Calculer</button><br/>
            <br/> Votre IMC = <span id="imc"></span>
            <br/> Votre corpulence = <span id="corpulence"></span>
        </main>
    </body>

</html>