<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>
<main layout:fragment="content">
    <p th:text="|Request: ${requestBean}|" xmlns:th="http://www.w3.org/1999/xhtml"></p>
    <p th:text="|Session: ${sessionBean}|" xmlns:th="http://www.w3.org/1999/xhtml"></p>
    <p th:text="|Singleton: ${singletonBean}|" xmlns:th="http://www.w3.org/1999/xhtml"></p>
    <p th:text="|Default: ${defaultBean}|" xmlns:th="http://www.w3.org/1999/xhtml"></p>

</main>
</body>

</html>