<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>Layout</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/image/ESI.jpeg}" />
    </head>

    <header>
        <h1 id="title_header">Programme annuel des étudiants</h1>
        <h3 id="title_description">HE2B-ESI / WEBG5 / JLC / 2021-2022</h3>
        <img th:src="@{/image/ESI.jpeg}" />
    </header>

    <body>
        <div>
            <nav>
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/courses}">Cours</a>
                <a th:href="@{/students}">Etudiants</a>
                <a th:href="@{/bmi}">Calcul du BMI</a>
            </nav>
        </div>
        <main layout:fragment="content">

        </main>
    </body>

    <footer>53212</footer>

</html>