<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <title>students</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/image/ESI.jpeg}" />
    </head>

    <header>
        <h1 id="title_header">Programme annuel des étudiants</h1>
        <h3 id="title_description">HE2B-ESI / WEBG5 / JLC / 2021-2022</h3>
        <img th:src="@{/image/ESI.jpeg}" />
    </header>

    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>ECTS</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.getId}">1</td>
                <td th:text="${student.getName}">1</td>
                <td th:text="${student.getSection}">1</td>
            </tr>
        </table>
    </body>

    <footer>53212</footer>

</html>