header {
    display: grid;
    grid-template-areas: 'icon title navDrawer';
    align-items: center;
}
header > img, header > span {
    margin: 2%;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > img{
    background-color: white;
    width: 188px;
    height: 150px;
    grid-area: 'icon';
}

header > span {
    grid-area: "title";
}

header > div {
    grid-area: "navDrawer";
}

header, footer, table{
    background-color: rgb(203, 58, 0);
    color : rgb(89, 198, 253);
    border-radius: 10px;
    border-style: solid;
    border-color: darkgray;
    border-width: 5px;
    text-align: center;
}

nav {
    background-color: lightsteelblue;
    text-align: center;
    border-radius: 10px;
}
nav a{
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    border-style: dashed;
    border-radius: .5em;
    color: rgb(0, 114, 0);
}

a:hover{
    color: black;
}

a:active{
    color: rgb(79, 25, 130);
}
main, main > * {
    margin: 1em;
}
table{
    border-style: double;
    border-width: 1em;
    font-size: 2em;
    
}
table a {
    color: lightgreen;
}
table a, table td , table th {
    padding: 0.5em;
}
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
   
}